.hero1-container {
  /* background-color: brown; */
  background-color: #f9fffe;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero1-p {
  font-size: 23px;
  color: #20b2aa;
}
.hero1-h2 {
  font-size: 32px;
}
.hero1-container1 {
  width: 100%;
  height: 77vh;
  display: flex;
  justify-content: center;
  /* background-color: black; */
  background-color: #f9fffe;
}
.hero1-container1-wrapper {
  width: 92.5%;
  height: 100%;
  background-color: #20b2aa;
}

.hero1 {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  background-color: #f9fffe;
  display: flex;
  justify-content: space-between;
  gap:2rem
}
.hero1-left {
  width: 33%;
  height: 90%;
  /* background-color: orange; */
  background-color: #f9fffe;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.hero1-center {
  width: 33%;
  height: 90%;

  /* background-color: #20b2aa; */
   background-color: #f9fffe;
  border-radius: 20px;
}
.hero1-center-image{
  width:100%;
  height:100%;
}

.hero1-right {
  width: 33%;
  height: 90%;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #f9fffe;
}
