.AuthHeader-container {
  width: 100%;
  height: 70px;
  background: #f7f5f2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid var(--grey-outline);
  border-bottom: 1px solid #eef2f1;
  /* box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2); */
}

.AuthHeader-wrapper {
  width: 95%;
  height: 100%;
}

.AuthHeader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.AuthHeader-left {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #575f6d;
}

.AuthHeader-left-image {
  width: 280px;
  height: 48px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.3s ease;
}

.AuthHeader-right {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.AuthHeader-right-1 {
  width: 110px;
  height: 90px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  white-space: nowrap;
}

.AuthHeader-right-1 {
  border: none;
  border: 2px solid #0c5e58;
  color: #0c5e58;
}

.AuthHeader-right-1:hover {
  background: #6ec9c3;
  transform: translateY(-2px);
}

@media (max-width: 640px) {
  .AuthHeader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .AuthHeader-left-image {
      width: 200px;
      height: 150px;
    }
  }
}

.AuthHeader-right-1 {
  height: 40px;
  object-fit: contain;
  padding: 7px 15px;
}
