.order-page {
  width: 100%;
  height: 100%;
}

.order-placeholder {
  color: #8a9694;
  font-size: 16px;
  margin: 0;
}
.Order {
  width: 100%;
  height: 100vh;
  /* background: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.Order-header {
  width: 100%;
  height: 8%;
  /* background: yellow; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Create-order-container {
  width: 20%;
  height: 90%;
  background: cornflowerblue;
  color: white;
}
.order-btn {
  width: 13%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  background: cornflowerblue;
  color: white;
  font-size: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Order-filters {
  width: 20%;
  height: 100%;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.filter-btn {
  width: 50%;
  height: 80%;
  background: rgb(255, 255, 255);
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Order-content {
  width: 100%;
  height: 88%;
  /* background: green; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Top-Products-section {
  width: 100%;
  height: 7%;
  background: rgb(212, 212, 212);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid gray;
}
.Recent-Orders-list-Second {
  width: 100%;
  height: 10.5%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid rgb(206, 206, 206);
}
.Products-detail-one {
  width: 40%;
  height: 100%;
  /* background: rgb(17, 190, 161); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 70px;
}
.Products-detail-two {
  width: 40%;
  height: 100%;
  /* background: rgb(212, 0, 71); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 70px;
}
.Products-sales-main-one {
  width: 50%;
  height: 100%;
  /* background: rgb(161, 41, 190); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  gap: 90px;
}
.Products-sales-two {
  width: 60%;
  height: 100%;
  /* background: gold; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  gap: 90px;
}
.Status-five {
  width: 15%;
  height: 50%;
  background: rgb(153, 153, 153);
  color: rgb(54, 54, 54);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 30px;
  border: none;
}
.Status-six {
  width: 15%;
  height: 50%;
  background: rgb(235, 152, 228);
  color: rgb(131, 27, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 30px;
  border: none;
}
.Record-last {
  width: 100%;
  height: 8%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  gap: 45%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Record-last-left {
  width: 20%;
  height: 100%;
  /* background: rgb(27, 169, 212); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.Record-last-Right {
  width: 35%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 2%;
  padding: 2px;
}
.Record-last-Right-p {
  width: 12%;
  height: 80%;
  background: rgb(206, 206, 206);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
.Record-last-Right-p-three {
  width: 12%;
  height: 80%;
  background: aquamarine;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}
.Record-last-Right-p-main {
  width: 12%;
  height: 80%;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  font-size: 20px;
}