.dashboard-home {
  width: 100%;
  height: 100%;
}

.dashboard-home-placeholder {
  color: #8a9694;
  font-size: 16px;
  margin: 0;
}
.Dashboard {
  /* background-color: red; */
  width: 100%;
  height: 130vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.Dashboard-item {
  width: 100%;
  height: 20%;
  /* background: green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.Dashboard-item-one-child {
  width: 20%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Total-Order {
  width: 90%;
  height: 40%;
  /* background: gold; */
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
.Text-number {
  width: 90%;
  height: 40%;
  /* background: rgb(207, 43, 14); */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 7px;
  font-size: 40px;
}
.Text-number-1 {
  width: 90%;
  height: 40%;
  /* background: rgb(207, 43, 14); */
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  font-size: 32px;
}
.Percentage-Icon {
  width: 30%;
  height: 90%;
  /* background: rgb(160, 160, 160); */
  font-size: 5px;
}
.Text-percentage {
  width: 25%;
  height: 40%;
  background: lightgreen;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
}
.Text-percentage-1 {
  width: 25%;
  height: 40%;
  background: rgb(236, 72, 50);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: none;
}
.yesterday {
  width: 90%;
  height: 20%;
  /* background: rgb(179, 212, 32); */
  color: gray;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 15px;
}
.Dashboard-item-one {
  width: 100%;
  height: 40%;
  /* background: rgb(71, 144, 212); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Dashboard-item-child {
  width: 60%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.Graph {
  width: 95%;
  height: 20%;
  /* background: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Graph-title {
  width: 100%;
  height: 70%;
  font-size: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.Graph-description {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background: white; */
  color: gray;
}
.Graph-map {
  width: 95%;
  height: 75%;
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Graph-image {
  width: 100%;
  height: 90%;
}
.Dashboard-item-child-two {
  width: 40%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
}
.Graph-subtitle {
  width: 100%;
  height: 20%;
  /* background: blue; */
  display: flex;
  align-items: center;
  font-size: 20px;
}
.Graph-detail {
  width: 100%;
  height: 80%;
  /* background: rgb(110, 196, 12); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Graph-Circle {
  width: 60%;
  height: 100%;
  /* background-color: lime; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.Graph-bar {
  width: 40%;
  height: 100%;
  /* background: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.packing-cloths {
  width: 90%;
  height: 15%;
  /* background: thistle; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.packing-checkbox {
  width: 20%;
  height: 50%;
}
.Order-Icon {
  width: 20%;
  height: 90%;
  /* background: rgb(182, 50, 50); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.Dashboard-item-two {
  width: 100%;
  height: 50%;
  /* background: rgb(243, 45, 243); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.Recent-Orders {
  width: 100%;
  height: 15%;
  /* background: rgb(40, 218, 23); */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Recent-Orders-title {
  width: 20%;
  height: 100%;
  font-size: 20px;
  /* background: blueviolet; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Recent-Orders-link {
  width: 5%;
  height: 40%;
  /* background: blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 0.3px solid gray;
}
.Top-Products {
  width: 100%;
  height: 15%;
  background: gray;
  display: flex;
  justify-content: flex-start;
}
.Products-detail {
  width: 40%;
  height: 100%;
  /* background: rgb(212, 0, 71); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  gap: 70px;
}
.packing-checkbox-1 {
  width: 20%;
  height: 30%;
}
.Products-sales {
  width: 60%;
  height: 100%;
  /* background: gold; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  gap: 90px;
}
.Products-sales-main {
  width: 50%;
  height: 100%;
  /* background: rgb(161, 41, 190); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  gap: 90px;
}
.Recent-Orders-list {
  width: 100%;
  height: 20%;
  /* background: rgb(231, 161, 220); */
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid gray;
}
.Recent-Orders-list-one{
  width: 100%;
  height: 20%;
  /* background: rgb(231, 161, 220); */
  display: flex;
  justify-content: space-evenly;
}
.Status-one {
  width: 15%;
  height: 50%;
  background: rgb(238, 135, 169);
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 30px;
  border: none;
}
.Status-two {
  width: 15%;
  height: 50%;
  background: rgb(163, 216, 236);
  color: rgb(27, 24, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 30px;
  border: none;
}
.Status-three {
  width: 15%;
  height: 50%;
  background: rgb(195, 148, 240);
  color: rgb(60, 21, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 30px;
  border: none;
}
.Status-four {
  width: 15%;
  height: 50%;
  background: rgb(170, 245, 195);
  color: rgb(18, 128, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border-radius: 30px;
  border: none;
}
.Order-ID {
  width: 30%;
  height: 100%;
  /* background: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Order-ID-one {
  width: 60%;
  height: 100%;
  /* background: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.Client-side {
  width: 100%;
  height: 100%;
  /* background: rgb(58, 165, 73); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-layout {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #f6f8f8;
  font-family: Arial, Helvetica, sans-serif;
}
