.header-container {
  width: 100%;
  height: 9vh;
  /* background-color: red; */
  background-color: #002422;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header-wrapper {
  width: 92%;
  height: 100%;
  /* background-color: green; */
}

.header {
  width: 100%;
  height: 100%;
  /* background-color: yellow; */
  display: flex;
}
.header-left {
  width: 20%;
  height: 100%;
  /* background-color: purple; */
  display: flex;
  justify-content: start;
  align-items: center;
}
/* justify-con:enx-start; */

.header-left-image {
  width: 55%;
  height: 60%;
}

.header-center {
  width: 60%;
  height: 100%;
  /* background-color: orange; */
  display: flex;
  gap: 7rem;
  justify-content: center;
  align-items: center;
}
/* .header-center-1 {
  font-size: 24px;
  color: #effaf9;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #20b2aa;
  text-decoration-thickness: 5px;
  text-underline-offset: 6px;
} */

.header-center-1 {
  position: relative;
  display: inline-block;
  color: #effaf9;
  cursor: pointer;
  font-size: 24px;
}

.header-center-1::after {
  content: "";
  position: absolute;
  left: 35%;
  bottom: -6px;

  width: 20px;
  height: 5px;
  background: #20b2aa;
  border-radius: 4px;
}
.header-center-2 {
  font-size: 24px;
  color: #effaf9;
  cursor: pointer;
}
.header-center-3 {
  font-size: 24px;
  color: #effaf9;
  cursor: pointer;
}
.header-right {
  width: 20%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.header-right-1 {
  width: 25%;
  height: 54%;
  background-color: #20b2aa;
  border-radius: 12px;
  color: #effaf9;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.header-right-2 {
  width: 25%;
  height: 54%;
  background-color: #002422;
  border-radius: 12px;
  color: white;
  font-size: 17px;
  border: 2px solid #20b2aa;
  cursor: pointer;
}
