* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #20b2aa;
  --primary-color-shade: #146965;
  --primary-color-tone: #4dc1bb;
  --primary-color-tone1: #c4eae8;
  --primary-color-tint: #f1fffe;
  --primary-color-tint-cl: #eef9f9;
  --primary-color-tint-lighter: #effffe;
  --primary-color-tint-lighter-bg: #f5fbfb;

  --secondary-color: #002422;
  --secondary-color-shade: #001d1b;
  --secondary-color-tone: #33504e;
  --secondary-color-tint: #667c7a;
  --secondary-color-tint-lighter: #99a7a7;

  --grey-color-tint-60: #a3a3a3;
  --grey-color-tint-70: #b9b9b9;
  --grey-color-tint-80: #dcdcdc;
  --grey-color-tint-90: #f9f7f7fb;
  --grey-color-tint-0: #f8f8f8fb;

  --background-color: #ffffff;

  --text-color: #333;
}
